@model Fletero2022.Areas.Administracion.Models.UnidadModel

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
    <link type="text/css" href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <h1>Unidad</h1>
    </div>
    <div class="" style="display: flex; align-items:center">
        <div class="col-sm-2 ">
            <label class="control-label" for="TiendaSelect">Tienda:</label>
        </div>
        <div class="col-sm-6">
            <select class="form-control" aria-label="Default select example" id="TiendaSelect">
                <option selected>Seleccione</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>
    <br />
    <div class="" style="display: flex; align-items:center">
        <div class="col-sm-2 ">
            <label class="control-label" for="FleteroSelect">Fletero:</label>
        </div>
        <div class="col-sm-6">
            <select class="form-control" aria-label="Default select example" id="FleteroSelect">
                <option selected>Seleccione</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>
    <br />
    <div class="" style="display: flex; align-items:center">
        <div class="form-check">
            <label class="control-label" for="ModalidadRadio">Modalidad:</label>
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
            <label class="form-check-label" for="flexRadioDefault1">
                Base
            </label>
        </div>
        <br />
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Adicional
            </label>
        </div>
    </div>
    <br />
    <fieldset>
        <legend class="w-auto px-2">Descripcion de la unidad</legend>
    <div class="" style="display: flex; align-items:center">
        <div class="col-sm-2 ">
            <label class="control-label" for="TipoUnidadSelect">Tipo de Unidad:</label>
        </div>
        <div class="col-sm-6">
            <select class="form-control" aria-label="Default select example" id="TipoUnidadSelect">
                <option selected>Seleccione</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>
    <br />
    <div class="" style="display: flex; align-items:center">
        <div class="col-sm-2 ">
            <label class="control-label" for="Numero_eco">Numero Economico:</label>
        </div>
        <div class="col-sm-6">
            <input id="Numero_eco" class="form-control" type="text" />
        </div>
    </div>
    <br />
    <div class="" style="display: flex; align-items:center">
        <div class="col-sm-2 ">
            <label class="control-label" for="TipoCarroceriaSelect">Tipo Carroceria:</label>
        </div>
        <div class="col-sm-6">
            <select class="form-control" aria-label="Default select example" id="TipoCarroceriaSelect">
                <option selected>Seleccione</option>
                <option value="1">One</option>
                <option value="2">Two</option>
            </select>
        </div>
    </div>
    <br />
    <div class="" style="display: flex; align-items:center">
        <div class="col-sm-2 ">
            <label class="control-label" for="MarcaText">Marca:</label>
        </div>
        <div class="col-sm-6">
            <input id="MarcaText" class="form-control" type="text" />
        </div>
    </div>
    <br />
    <div class="" style="display: flex; align-items:center">
        <div class="col-sm-2 ">
            <label class="control-label" for="ModeloText">Modelo:</label>
        </div>
        <div class="col-sm-6">
            <input id="ModeloText" class="form-control" type="text" />
        </div>
    </div>
    </fieldset>
    <br />
    <br />
    <fieldset>
        <legend class="w-auto px-2">Capacidades del transporte</legend>
        <div class="" style="display: flex; align-items:center">
            <div class="col-sm-2 ">
                <label class="control-label" for="LargoText">Largo:</label>
            </div>
            <div class="col-sm-6">
                <input id="LargoText" class="form-control" type="text" />
            </div>
        </div>
        <br />
        <div class="" style="display: flex; align-items:center">
            <div class="col-sm-2 ">
                <label class="control-label" for="AnchoText">Ancho:</label>
            </div>
            <div class="col-sm-6">
                <input id="AnchoText" class="form-control" type="text" />
            </div>
        </div>
        <br />
        <div class="" style="display: flex; align-items:center">
            <div class="col-sm-2 ">
                <label class="control-label" for="AltoText">Alto:</label>
            </div>
            <div class="col-sm-6">
                <input id="AltoText" class="form-control" type="text" />
            </div>
        </div>
        <br />
        <div class="" style="display: flex; align-items:center">
            <div class="col-sm-2 ">
                <label class="control-label" for="PesoText">Peso:</label>
            </div>
            <div class="col-sm-6">
                <input id="PesoText" class="form-control" type="text" />
            </div>
        </div>
    </fieldset>
    <br />
    <br />
    <br />
    <fieldset>
        <legend class="w-auto px-2">Poliza de Seguro</legend>
        <div class="" style="display: flex; align-items:center">
            <div class="col-sm-2 ">
                <label class="control-label" for="NumeroPolizaText">Numero:</label>
            </div>
            <div class="col-sm-6">
                <input id="NumeroPolizaText" class="form-control" type="text" />
            </div>
            <div class="col-sm-2 ">
                <label class="control-label" for="FechaVencimiento">Fecha de Vencimiento:</label>
            </div>
            <div class="col-sm-6">
                <input id="FechaVencimiento" class="form-control" type="text" />
            </div>
        </div>
    </fieldset>
    <br />
    <br />
    <br />
    <fieldset>
        <legend class="w-auto px-2">Tarjeta de Circulacion</legend>
        <div class="" style="display: flex; align-items:center">
            <div class="col-sm-2 ">
                <label class="control-label" for="FVencimientoTCirculacionText">Fecha de Vencimiento:</label>
            </div>
            <div class="col-sm-6">
                <input id="FVencimientoTCirculacionText" class="form-control" type="text" />
            </div>
        </div>
    </fieldset>
    <br />
    <br />
    <div class="" style="display: flex; align-items:center">
        <div class="col-sm-2 ">
            <label class="control-label" for="PlacasText">Placas:</label>
        </div>
        <div class="col-sm-6">
            <input id="PlacasText" class="form-control" type="text" />
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="FederalCheckBox">
            <label class="form-check-label" for="flexCheckDefault">
                Federal
            </label>
        </div>
    </div>
    <br />
    <div class="" style="display: flex; align-items:center">
        <div class="col-sm-2 ">
            <label class="control-label" for="CaractEspecialText">Caracteristica Especial:</label>
        </div>
        <div class="col-sm-6">
            <input id="CaractEspecialText" class="form-control" type="text" />
        </div>
    </div>
    <br />
    <div class="" style="display: flex; align-items:center">
        <div class="form-check">
            <label class="control-label" for="GPSRadio">Contiene GPS:</label>
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="GPSRadio1" checked>
            <label class="form-check-label" for="flexRadioDefault1">
                Si
            </label>
        </div>
        <br />
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                No
            </label>
        </div>
    </div>
    <br/>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" onclick="jsBack()">Aceptar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
    </div>
</body>
</html>

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
