@model Fletero2022.Areas.Administracion.Models.ContratoModel

<table class="table table-striped" id="tblInformacionGeneral">
    <thead>
        <tr>
            <th></th>
            <th>Distrito</th>
            <th>Tienda</th>
            <th>Fletero</th>
            <th>Lugar y fecha de la firma del contrato</th>
            <th>Quien lo firma por parte de HomeDepot</th>
            <th>Quien lo firma por parte del Fletero</th>
            <th>Quien realizo el tramite de la firma</th>
            <th>Fecha de inicio del contrato</th>
            <th>Renovacion Automatica</th>
            <th>Estatus</th>
        </tr>
    </thead>
</table>