@model Fletero2022.Areas.Administracion.Models.ContratoModel

@{
    ViewBag.Title = "Consultar Contratos Regulares";
}

<h2>@ViewBag.Title</h2>

<div class="row" align="center">
    <div class="col-lg-12">
        <div class="col-sm-3">
            <p>Region:</p>
            <select class="form-control" aria-label="Selecciona la Region" id="RegionSelect">
                <option value="0" selected>Selecciona</option>

            </select>
            <br />
        </div>
        <div class="col-sm-3">
            <p>Distrito:</p>
            <select class="form-control" aria-label="Selecciona el Distrito" id="DistritoSelect">
                <option value="0" selected>Selecciona</option>

            </select>
            <br />
        </div>
        <div class="col-sm-3">
            <p>Tienda:</p>
            <select class="form-control" aria-label="Selecciona la Tienda" id="TiendaSelect">
                <option value="0" selected>Selecciona</option>

            </select>
            <br />
        </div>
        <div class="col-sm-3">
            <p>Fletero:</p>
            <select class="form-control" aria-label="Selecciona el Fletero" id="FleteroSelect">
                <option value="0" selected>Selecciona</option>

            </select>
            <br />
        </div>
        <div class="col-sm-3">
            <p>Estatus:</p>
            <select class="form-control" aria-label="Selecciona el Estatus" id="EstatusSelect">
                <option value="0" selected>Selecciona</option>
                <option value="1">Activo</option>
                <option value="1">Inactivo</option>
            </select>
            <br />
        </div>
        <div class="col-md-3" style="margin-top:30px;">
            <button type="button" class="btn btn-primary" style="margin-right:25px;">Buscar</button>
            <button type="button" class="btn btn-primary">Limpiar Filtros</button>
        </div>
    </div>
</div>

<div class="row" style="margin-top:25px;">
    <div class="col-lg-12">
        <div class="col-sm-6">
            <button type="button" style="margin-right:15px;" class="btn btn-success" onclick="AddContrato()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16" style="vertical-align:middle;">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
                Agregar
            </button>
            <button type="button" style="margin-right:15px;" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16" style="vertical-align:middle;">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                </svg>
                ver Detalles
            </button>
            <button type="button" class="btn btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-x-fill" viewBox="0 0 16 16" style="vertical-align:middle;">
                    <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM6.854 6.146 8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 1 1 .708-.708z" />
                </svg>
                Deshabilitar
            </button>
        </div>
    </div>
</div>

<div class="row" style="margin-top:35px;">
    <div class="col-lg-12">
        @{ Html.RenderPartial("ContratosGrid", Model);}
    </div>
</div>

<script>
    function AddContrato() {
        url = '@Url.Content("~/Administracion/Contrato/Agregar")';
        document.location.href = url;
    }
</script>